.projects {
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  width: 100%;
  height: 100%;
}

.category-tabs {
  margin: 5rem;
  background: black;
  border-radius: 8px;
  opacity: .8;
}

/*portfolio effect*/

.content-block__effect {
  position: relative;
  padding-top: 5px;
}

.header {
  position: relative;
  width: 100%;
  border-bottom: 3px dotted #203A43;
  border-radius: 0 0 100px 100px;
  opacity: .8;
}

.portfolio-effect {
  font-family: "Raleway", "Helvetica", "Arial", sans-serif;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  margin: 20px;
}

.portfolio-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: 200%;
  max-height: 200%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.portfolio-item__info {
  position: absolute;
  top: 7px;
  left: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2 * 7px);
  height: calc(100% - 2 * 7px);
  background-color: rgba(255, 255, 255, 0.7);
}

.portfolio-item__header {
  position: relative;
  margin: 0 0 20px 0;
  padding: 15px 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.portfolio-item__info {
  position: sticky;
  margin-bottom: 18px;
  border: 1px solid white;
  border-radius: 8px;
}

.portfolio-item__info h3{
  position: center;
  font-size: 1rem;
  padding: 5px;
  display: block;
  line-height: 2rem;
}

.portfolio-item__header:after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  width: 100%;
  content: '';
  background-color: #000;
}

.portfolio-item__links {
  display: flex;
}

.portfolio-item__link-block {
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 70px;
  font-size: 2.3rem;
  visibility: hidden;
}

.portfolio-item__link-block i {
  visibility: visible;
}

.portfolio-item__link-block:last-child {
  margin-right: 0;
}

.portfolio-item__link {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #101010;
  text-decoration: none;
  border: 1px solid #101010;
  border-radius: 50%;
}

.portfolio-item__link:hover {
  color: #fff;
  background-color: #101010;
}

/* EFFECT #3 STYLES */

.portfolio-item--eff3 .portfolio-item__info {
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.portfolio-item--eff3 .portfolio-item__header {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  opacity: 0;
}

.portfolio-item--eff3 .portfolio-item__header:after {
  bottom: -20px;
  opacity: 0;
}

.portfolio-item--eff3 .portfolio-item__link-block {
  opacity: 0;
}

.portfolio-item--eff3 .portfolio-item__link-block:first-child {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.portfolio-item--eff3 .portfolio-item__link-block:nth-child(2) {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.portfolio-item--eff3:hover .portfolio-item__info {
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.portfolio-item--eff3:hover .portfolio-item__header {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.45s;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.portfolio-item--eff3:hover .portfolio-item__header:after {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.6s;
  bottom: 0;
  opacity: 1;
}

.portfolio-item--eff3:hover .portfolio-item__link-block {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.85s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

@media (max-width: 1820px) {
  .portfolio-item__info h3 {
    font-size: .9rem;
    line-height: 1.6rem;
  }
}

@media (max-width: 1620px) {
  .portfolio-item__header {
    font-size: 1.3rem;
  }

  .portfolio-item__info h3 {
    font-size: .8rem;
    line-height: 1.4rem;
  }
}

@media (max-width: 1460px) {
  .portfolio-item__header {
    font-size: 1.2rem;
  }

  .portfolio-item__info h3 {
    font-size: .7rem;
    line-height: 1.2rem;
  }
}

@media (max-width: 1240px) {
  .portfolio-effect {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .portfolio-item__link-block {
    font-size: 4rem;
    top: 15px;
  }

  .portfolio-item {
    width: 400px;
    height: 500px;
  }

  .portfolio-item__header {
    font-size: 2.6rem;
  }

  .portfolio-item__info h3 {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}

@media (max-width: 720px) {
  .portfolio-effect {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .portfolio-item__link-block {
    font-size: 3rem;
  }

  .portfolio-item {
    width: 300px;
    height: 380px;
  }

  .portfolio-item__header {
    font-size: 1.9rem;
  }

  .portfolio-item__info h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (max-width: 550px) {
  .header h2 {
    font-size: 2.5rem;
  }
  .portfolio-item {
    width: 250px;
    height: 300px;
  }

  .portfolio-item__header {
    font-size: 1.7rem;
  }

  .portfolio-item__info h3 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media (max-width: 440px) {
  .portfolio-item {
    width: 180px;
    height: 250px;
  }

  .portfolio-item__link-block {
    font-size: 2.5rem;
    top: 10px;
  }

  .portfolio-item__header {
    font-size: 1.3rem;
  }

  .portfolio-item__info h3 {
    font-size: .8rem;
    line-height: 1.7rem;
  }
}
